{% extends 'base.html' %}
{% load utils %}

{% block title %}{{ brand_name }} {{ object.title }}{% endblock %}

{% block contents %}

<div class="container">
    {% if breadcrumb_list %}
        {% include 'breadcrumb.html' %}
        <h1>{{ object.title }}</h1>
    {% else %}
        <h1 class="mt-3">{{ object.title }}</h1>
    {% endif %}
    <div class="mt-3">
        Last updated by {{ object.updated_by }} at {{ object.updated_at }}
    </div>
    <div class="mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <a class="btn btn-primary btn-sm" href="{{ object.get_detail_url }}">Cancel</a>
        </form>
    </div>
    {% if features %}
    <h3>Latest Features</h3>
    <div class="mt-3">
        {% for feat, upper in features %}
            {% if upper %}
                <a href="{{ feat.get_detail_url }}">{{ feat | get_path }}</a> <font color="red">(Upper Updated)</font><br>
            {% else %}
             <a href="{{ feat.get_detail_url }}">{{ feat | get_path }}</a><br>
            {% endif %}
        {% endfor %}
    </div>
    <div class="mt-3">
        <a class="btn btn-primary btn-sm" href="{% url 'collect:update_upper_updated' object.id %}">Update Upper Updated</a>
    </div>
    {% endif %}
</div>

{% endblock %}