{% extends 'base.html' %}
{% load mifilter %}

{% block title %}{{ brand_name }} {{ object.title }}{% endblock %}

{% block script %}

    {% include 'mathjax.html' %}
    {% include 'highlight.html' %}

{% endblock %}

{% block contents %}

<div class="container">
    {% include 'breadcrumb.html' %}
    <h1>{{ object.title }}</h1>
    {% if navigation_list %}
        {% include 'navigation.html' %}
    {% endif %}
    {% if object.upper_updated %}
    <div class="row mt-3 g-0">
        <h4><font color="red">Upper image or filter updated</font></h4>
    </div>
    {% endif %}
    <div class="row mt-3 g-0">
        <div class="col">ID : {{ object.id }}</div>
        <div class="col">Status : {{ object.get_status_display }}</div>
        <div class="col">Prefix : {{ object.prefix_display }}</div>
        {%  if object.category %}
            <div class="col">Category : {{ object.category }}</div>
        {% endif %}
        {%  if object.pred_class %}
            <div class="col">Class : {{ object.pred_class }}</div>
        {% endif %}
    </div>
    <div class="row mt-3 g-0">
        <div class="col">{{ object.note | markdown2html | safe }}</div>
    </div>
    <table class="table mt-3 border-bottom">
        <thead>
            <tr><th>Item</th><th>Value</th></tr>
        </thead>
        <tbody>
            <tr><td>Area fraction</td><td>{{ results.areafraction }}</td></tr>
            <tr><td>Number Density</td><td>{{ results.numberdensity }}</td></tr>
        </tbody>
    </table>
    <table class="table mt-3 border-bottom">
        <thead>
            <tr>
                <th>Item</th>
                <th>Mean</th>
                <th>STD</th>
                <th>Min</th>
                <th>Median</th>
                <th>Max</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url plot_name object.pk 0 50 %}">Diameter</a></td>
                <td>{{ results.diameter_mean }}</td>
                <td>{{ results.diameter_std }}</td>
                <td>{{ results.diameter_min }}</td>
                <td>{{ results.diameter_median }}</td>
                <td>{{ results.diameter_max }}</td>
            </tr>
            <tr>
                <td><a href="{% url plot_name object.pk 1 50 %}">LongSide</a></td>
                <td>{{ results.longside_mean }}</td>
                <td>{{ results.longside_std }}</td>
                <td>{{ results.longside_min }}</td>
                <td>{{ results.longside_median }}</td>
                <td>{{ results.longside_max }}</td>
            </tr>
            <tr>
                <td><a href="{% url plot_name object.pk 2 50 %}">NarrowSide</a></td>
                <td>{{ results.narrowside_mean }}</td>
                <td>{{ results.narrowside_std }}</td>
                <td>{{ results.narrowside_min }}</td>
                <td>{{ results.narrowside_median }}</td>
                <td>{{ results.narrowside_max }}</td>
            </tr>
            <tr>
                <td><a href="{% url plot_name object.pk 3 20 %}">Aspect Ratio</a></td>
                <td>{{ results.aspectratio_mean }}</td>
                <td>{{ results.aspectratio_std }}</td>
                <td>{{ results.aspectratio_min }}</td>
                <td>{{ results.aspectratio_median }}</td>
                <td>{{ results.aspectratio_max }}</td>
            </tr>
            <tr>
                <td><a href="{% url plot_name object.pk 4 20 %}">Circularity</a></td>
                <td>{{ results.circularity_mean }}</td>
                <td>{{ results.circularity_std }}</td>
                <td>{{ results.circularity_min }}</td>
                <td>{{ results.circularity_median }}</td>
                <td>{{ results.circularity_max }}</td>
            </tr>
            <tr>
                <td><a href="{% url plot_name object.pk 5 20 %}">Angle</a></td>
                <td>{{ results.angle_mean }}</td>
                <td>{{ results.angle_std }}</td>
                <td>{{ results.angle_min }}</td>
                <td>{{ results.angle_median }}</td>
                <td>{{ results.angle_max }}</td>
            </tr>
        </tbody>
    </table>
    {% if object.file %}
    <div class="row mt-3 g-0">
        <div class="col">File : <span id="urlText">{% url file_name object.unique %}</span>
            <button type="button" class="btn btn-link btn-sm" id="urlCopyButton" title="Copy to clipboard">
                {% include 'clipboard-icon.html' %}</button>
            <a href="{% url file_name object.unique %}" class="btn btn-link btn-sm">
                {% include 'cloud-download-icon.html' %}</a>
        </div>
    </div>
    {% endif %}
    <div class="row mt-3 g-0">
        <div class="col">Created by {{ object.created_by }} at {{ object.created_at }}</div>
        <div class="col">Updated by {{ object.updated_by }} at {{ object.updated_at }}</div>
    </div>
    <div class="mt-3">
        <a class="btn btn-primary btn-sm" href="{{ object.get_update_url }}">Update</a>
        <a class="btn btn-primary btn-sm" href="{% url edit_note_name object.id %}">Edit Note</a>
        <a class="btn btn-primary btn-sm" href="{% url contours_name object.id 1 1 %}">Contours</a>
        {% if object.get_delete_url %}
        <a class="btn btn-primary btn-sm" href="{{ object.get_delete_url }}">Delete</a>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script2 %}
    <script>
        document.getElementById('urlCopyButton').addEventListener('click', () => {
            navigator.clipboard.writeText(
                document.getElementById('urlText').textContent
            );
        });
    </script>
{% endblock %}