{% load django_bootstrap5 %}

<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% bootstrap_css %}

      <title>{{ brand_name }} : Password Reset Done</title>
  </head>
  <body>
      <div class="container">
        <h1 class="mt-3">{{ brand_name }} : Password Reset Done</h1>
        <h4 class="mt-3">Email Sent</h4>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    </div>
  </body>
</html>