{% extends 'base.html' %}

{% block title %}{{ brand_name }} User Add{% endblock %}

{% block contents %}

<div class="container">
    <div class="mt-3">
        <h1>User Add</h1>
    </div>
    <div class="mt-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
            <a class="btn btn-primary btn-sm" href="{% url 'accounts:user_list' %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}