{% extends 'base.html' %}

{% block title %}{{ brand_name }} {{ title }} {% endblock %}

{% block contents %}

<div class="container">
    {% if breadcrumb_list %}
        {% include 'breadcrumb.html' %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1 class="mt-3">{{ title }}</h1>
    {% endif %}
    {% if navigation_list %}
        {% include 'navigation.html' %}
    {% endif %}
    <div class="mt-3">
        {% for object in object_list %}
        <div class="row mt-1 border g-0">
            <div class="col">
                <div class="row ms-0 me-0">
                    <div class="col">URL : <a href="{{ object.url }}">{{ object.url }}</a></div>
                    <div class="col">Public URL : <a href="/public/file/{{ object.key }}">/public/file/{{ object.key }}</a></div>
                </div>
                <div class="row ms-0 me-0">
                    <div class="col-10">Updated by {{ object.updated_by }} at {{ object.updated_at }}</div>
                    <div class="col-1"><a href="{{ object.get_update_url }}">Update</a></div>
                    <div class="col-1"><a href="{{ object.get_delete_url }}">Delete</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
</div>

{% endblock %}
