{% extends 'base.html' %}

{% block title %}{{ brand_name }} {{ object.title }}{% endblock %}

{% block contents %}

<div class="container">
    {% if breadcrumb_list %}
        {% include 'breadcrumb.html' %}
        <h1>{{ object.title }}</h1>
    {% else %}
        <h1 class="mt-3">{{ object.title }}</h1>
    {% endif %}
    {% if object.process_updated_at > object.updated_at %}
    <div class="row mt-3 g-0">
        <h4><font color="red">Upper image or process updated</font></h4>
    </div>
    {% endif %}
    <div class="mt-3">
        Last updated by {{ object.updated_by }} at {{ object.updated_at }}
    </div>
    <div class="mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <a class="btn btn-primary btn-sm" href="{{ object.get_detail_url }}">Cancel</a>
        </form>
    </div>
    {% if not object.alias %}
    <div class="mt-3 border-top">
        <h2 class="mt-3">Equation List</h2>
        <table class="table mt-3 border-bottom">
            <thead>
                <tr>
                    <th>Equation</th>
                    <th>Prefix</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in equation %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.prefix }}
                    </td>
                    <td>
                        <a href="{{ item.get_update_url }}">Update</a>
                    </td>
                    <td>
                        <a href="{{ item.get_delete_url }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        Add :
        {% for equation in equation_add %}
        <a class="btn btn-primary btn-sm" href="{{ equation.url }}">{{ equation.title }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}