{% extends 'base.html' %}

{% block title %}{{ brand_name }} {{ object.title }}{% endblock %}

{% block contents %}

<div class="container">
    {% if breadcrumb_list %}
        {% include 'breadcrumb.html' %}
        <h1>{{ object.title }}</h1>
    {% else %}
        <h1 class="mt-3">{{ object.title }}</h1>
    {% endif %}
    {% if object.updated_by and object.updated_at %}
    <div class="mt-3">
        Last updated by {{ object.updated_by }} at {{ object.updated_at }}
    </div>
    {% endif %}
    <div class="mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <a class="btn btn-primary btn-sm" href="{{ object.get_detail_url }}">Cancel</a>
        </form>
    </div>
    <div class="mt-3 border-top">
        <h2 class="mt-3">Plans</h2>
        <table class="table mt-3 border-bottom">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start</th>
                    <th>Finish</th>
                    <th>Complete</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for plan in plans %}
                <tr>
                    <td>
                        {{ plan.title }}
                    </td>
                    <td>
                        {{ plan.start }}
                    </td>
                    <td>
                        {{ plan.finish }}
                    </td>
                    <td>
                        {{ plan.complete }}
                    </td>
                    <td>
                        <a href="{{ plan.get_update_url }}">Update</a>
                    </td>
                    <td>
                        <a href="{{ plan.get_delete_url }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary btn-sm" href="{% url 'schedule:plan_add' object.id %}">Add Plan</a>
    </div>
</div>

{% endblock %}